.signup-bg-img{
    background-image: url(https://res.cloudinary.com/chinhvu/image/upload/v1655112250/4380947_yhxwnt.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.signup-profile-pic-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.signup-profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(0, 133, 55);
    object-fit: cover;
}
.add-image-icon{
    position: absolute;
    bottom: 0;
    right: 10px;
    color: rgb(26, 66, 241);
    cursor: pointer;
    z-index: 99;
}